		#parent .popup {
		  display: none;
		}

		#parent:hover .popup {
		  display: block;
		}
		
		#popup {
		  display: none;
		}

		#popup {
		  display: block;
		}
		
		.animate
		{
			transition: all 0.1s;
			-webkit-transition: all 0.1s;
		}

		.action-button
		{
			position: relative;
			padding: 10px 40px;
			margin: 30px;
			float: left;
			border-radius: 10px;
			font-family: 'Palatino', cursive;
			font-size: 25px;
			color: #FFF;
			text-decoration: none;	
		}
		
		.action-button + input{
			display:none;
		}
		
		.action-button:active
		{
			transform: translate(0px,5px);
			-webkit-transform: translate(0px,5px);
			border-bottom: 1px solid;
		}

		.blue
		{
			background-color: #3498DB;
			border-bottom: 5px solid #2980B9;
			text-shadow: 0px -2px #2980B9;
		}
		
		.collapse{
		  font-size: 31px;
		  display:block;
		}
		
		.collapse + input{
		  display:none;
		}
		
		.collapse + input + *{
		  display:none;
		}
		
		.collapse+ input:checked + *{
		  display:block;
		}

		
		.bar {
		fill: lawngreen;
		}
		.bar1 {
		fill: mediumslateblue;
		}

		.axis text {
		font: 11px sans-serif;
		}

		.axis path,
		.axis line {
		fill: none;
		stroke: #000;
		
		shape-rendering: crispEdges;
		}

		.x.axis path {
		display: none;
		}

		@keyframes blinker {
		50% { opacity: 0.0; }
		}

		.circle{
			opacity:0.5;
		}
		.textarea {
		color: #000;
		
		padding: 15px 20px;
		height: 40px;
		width: 50px;
		font-family: 'OpenSansBold', sans-serif;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 2px;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		box-shadow: inset 0 0 0 0 #C14800;
		/*animation: blinker 1s linear infinite;*/
		}
		
		.myButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
		-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
		box-shadow:inset 0px 1px 0px 0px #fff6af;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
		background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
		background-color:#ffec64;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #d68b1a;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 5px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
		}
		.myButton:hover {
			background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
			background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
			background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
			background-color:#ffab23;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}

		/* MASTER OF PUPPETS */

		* {
		margin:0;
		padding:0;
		}
		html, body {
		height:100%;
		background: #FFF;
		}

		div {
		text-align: left;
		position: relative;
		top: 5%;
		/*padding: 20px;*/
		/*min-width: 820px;*/
		}


		/* New */

		.new ul {
			display: inline-block;
			outline: none;
			cursor: pointer;
			text-align: center;

			-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			-moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
			box-shadow: 0 2px 5px rgba(0,0,0,.2);
		}

		.new ul li {
			float: left;
			list-style: none;
		}

		.new ul li a {
			font: bold 12px/100% "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
			border-right: 1px solid #646464;
			padding: 11px 10px;
			text-decoration: none;
			color: rgba(255,255,255,1);
			text-shadow: 0 -1px 0 rgba(0,0,0,.9);

			background: -webkit-linear-gradient(top, #8b8b8b, #717171 49%, #5e5e5e 50%, #787878);
			background: -moz-linear-gradient(top, #8b8b8b, #717171 49%, #5e5e5e 50%, #787878);
			background: -ms-linear-gradient(top, #8b8b8b, #717171 49%, #5e5e5e 50%, #787878);
			background: -o-linear-gradient(top, #8b8b8b, #717171 49%, #5e5e5e 50%, #787878);
			background: linear-gradient(to bottom, #8b8b8b, #717171 49%, #5e5e5e 50%, #787878);
		}

		.new ul li a:before {
			border-left: 1px solid rgba(255,255,255,.1);
			content: "";
			padding: 10px 10px;
			margin: 0 -10px;
			position: relative;
		}

		.new ul li a:after {
			border-right: 1px solid rgba(255,255,255,.1);
			content: "";
			padding: 10px 10px;
			margin: 0 -10px;
			position: relative;
		}

		.new ul li:last-child a:after {border: none;}

			.new ul li:first-child a {-moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;}
			.new ul li:last-child a {-moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0;}

			.new ul li a:hover {
			border-right: 1px solid rgba(255,255,255,.2);
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0,0,0,.5);

			-webkit-box-shadow: inset 0 0 40px rgba(255,255,255,.2);
			-moz-box-shadow: inset 0 0 40px rgba(255,255,255,.2);
			box-shadow: inset 0 0 40px rgba(255,255,255,.2);

			background-image: -webkit-linear-gradient(top, #656556, #4a4a4a 49%, #3b3b3b 50%, #454545);
			background-image: -moz-linear-gradient(top, #656556, #4a4a4a 49%, #3b3b3b 50%, #454545);
			background-image: -ms-linear-gradient(top, #656556, #4a4a4a 49%, #3b3b3b 50%, #454545);
			background-image: -o-linear-gradient(top, #656556, #4a4a4a 49%, #3b3b3b 50%, #454545);
			background-image: linear-gradient(to bottom, #656556, #4a4a4a 49%, #3b3b3b 50%, #454545);
		}

		.new ul li a:active {
			-webkit-box-shadow: inset 0 2px 8px rgba(0,0,0,.9);
			-moz-box-shadow: inset 0 2px 8px rgba(0,0,0,.9);
			box-shadow: inset 0 2px 8px rgba(0,0,0,.9);
		}

		.new ul li a.current {
			background: -webkit-linear-gradient(top, #383a3a, #525051);
			background: -moz-linear-gradient(top, #383a3a, #525051);
			background: -ms-linear-gradient(top, #383a3a, #525051);
			background: -o-linear-gradient(top, #383a3a, #525051);
			background: linear-gradient(to bottom, #383a3a, #525051);

			-webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,.8);
			-moz-box-shadow: inset 0 5px 10px rgba(0,0,0,.8);
			box-shadow: inset 0 5px 10px rgba(0,0,0,.8);

			color: #ffffff;
			text-shadow: 0 1px 0 rgba(0,0,0,.9);
		}

		#container .container-SD {   display: block;   margin: 1px 0;}
		
		.bar {
			fill: #5DA5DA;
		}
		.bar1 {
			fill: #F15854; 
		}

		#HDR1{
			   padding:15px 20px 0px 20px;
			float: left;
			left:200px;
			height: 10%;
				width:100%; 
		}
		
		#HDR1 p {
			font-family: 'Josefin Slab';
				font-size: 130%;
			font-weight: normal;
		}
		
		#upperLCContainer{
			   padding:15px 20px 0px 20px;
			float: left;
			height: 35%;
				width:67%; 
		}
		#upperHistContainer{
			   padding:0px 20px;
			float: left;
			height: 35%;
				width:67%; 
		}

		#lowerLCContainer{
			   padding:15px 20px 0px 20px;
			float: left;
			height: 35%;
				width:90%; 
		}

		#lowerHistContainer{
			   padding:0px 20px;
			float: left;
			height: 35%;
				width:90%; 
		}

		#MFvsBM{
		padding:15px 20px; 
		left: 40px;
		right: 40px;
		float:left;
		/*height:50%;*/
		/*width:35%;*/
		/*border: 1px black solid;*/
		/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/
		}
		
		#HDR{
		width :100%;
		height: 100px;
			
		}

		#info1{
			padding:15px 20px; 
			float:left;
			left: 40px;
			top: 50px;
		}
		
		#info1 p {
			padding: 0 20px;
			color: #aaa;
		text-align: center;
			font-weight: 300;
			font-size: 130%;
		}

		

			#MFHist{
		padding:15px 20px;
			left: 40px;
			right: 40px;
			float:left;
			/*height:50%;*/
		/*width:35%;*/
			/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/

			}


			#MFvsBM1{
		padding:15px 20px;
			left: 40px;
			right: 40px;
		top: 40px;
			float:right;
			/*height:50%;*/
		/*width:35%;*/
			/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/
			}

			#MFHist1{
		padding:15px 20px;
			float:right;
			left: 40px;
			right: 40px;
			/*height:50%;*/
		/*width:35%;*/
			/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/

			}
		
		#ListTextContainer{
		
			padding:15px 20px;
				float:left;
				height: 70%;
				width: 25%;
		}

		#BMList{
		padding:15px 20px;
		width: 100%;
		height: 20%;
		font-family: 'Josefin Slab';
		color: #3498db;
			font-size: 130%;
		font-weight: normal;
		}
		
		#search{
		font-family: 'Josefin Slab';
			font-size: 90%;
		font-weight: normal;
		padding: 4px 0;
		margin: 2px 0 0 0;
		border-radius: 7px;
		border: 1px solid rgba(0,0,0,0.15);
		text-align: center;
		}

		#MFvsBMText{
		padding:15px 20px;
			float: left;
		width: 100%;
		height: 80%;
		top: 100px;
		left: -70px;	
			/*height:50%;*/
		/*width:35%;*/
			/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/
		/*border: 2px solid #73AD21;*/
		}
		
			#MFvsBMText1{
			padding:15px 20px;
			left: 40px;
			right: 40px;
			float:left;
		width: 400px;
			/*height:50%;*/
		/*width:35%;*/
			/*border-radius: 25px;*/
		/*border: 2px solid #73AD21;*/
		/*border: 2px solid #73AD21;*/
			}
		
		
		
		#hideme{
		height:400px;
		width:500px;
		float:left;
		padding:15px; 
		}


	.ui-autocomplete {
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: 1000;
	  float: left;
	  display: none;
	  min-width: 160px;
	  width: 160px;
	  padding: 4px 0;
	  margin: 2px 0 0 0;
	  border-radius: 7px;
	  border: 1px solid rgba(0,0,0,0.15);
	  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
	  cursor: pointer;
	  outline: none;

	  display: block;
	  font-family: 'Josefin Slab';
	  padding: 10px;
	  text-decoration: none;
	  color: #8aa8bd;
	  border-bottom: 1px solid #e6e8ea;
	  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	  transition: all 0.3s ease-out;

		/* Font settings */
	  font-weight: normal;
	  color: #8AA8BD;	

	  .ui-menu-item > a.ui-corner-all {
		display: block;
		padding: 3px 15px;
		clear: both;
		font-weight: normal;
		line-height: 18px;
		color: #555555;
		white-space: nowrap;

		&.ui-state-hover, &.ui-state-active {
		  color: #ffffff;
		  text-decoration: none;
		  background-color: #0088cc;
		  border-radius: 0px;
		  -webkit-border-radius: 0px;
		  -moz-border-radius: 0px;
		  background-image: none;
		}
		}
		}
		.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
		}
		
		#dragslider-text{
		padding:15px 20px; 
		
		}
		
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.x.axis path {
		  display: none;
		}

		.line {
		  fill: none;
		  stroke-width: 2.5px;
		}

		.legend rect {
		  fill:white;
		  stroke:black;
		  opacity:0.5;
		 }
		
		#​tooltip {
			display:none;
			border:1px solid #F00;
			width:150px;
		}​
		
		.tiptext {
			background:#ccc;
			border: 1px #333 solid;
			padding:5px;
			width:100px;
		}
		.description {
			display:none;
			position:absolute;
			border:1px solid #000;
			width:400px;
			height:400px;
		}
		
		.d3-tip {
		  line-height: 1;
		  font-weight: bold;
		  padding: 12px;
		  background: rgba(0, 0, 0, 0.8);
		  color: #fff;
		  border-radius: 2px;
		}

		/* Creates a small triangle extender for the tooltip */
		.d3-tip:after {
		  box-sizing: border-box;
		  display: inline;
		  font-size: 5px;
		  width: 100%;
		  line-height: 1;
		  color: rgba(0, 0, 0, 0.8);
		  content: "\25BC";
		  position: absolute;
		  text-align: center;
		}

		/* Style northward tooltips differently */
		.d3-tip.n:after {
		  margin: -1px 0 0 0;
		  top: 100%;
		  left: 0;
		}
		
		.hover-line { 
		  stroke: SpringGreen;  
		  fill: none;
		  stroke-width: 1.5px;
		}
		
		/* WHIPLASH */

